.menuadmin{
    background-color: var(--green2);
    
}
.menuadmin ul{
   color: var(--light-gray);
}
.menuadmin ul li:hover{
    
    color: var(--green1);
    background-color: var(--green3);
    
}
.contentadmin{
    background-color: var(--green3);
}
.headeradmin{
   
    color:var(--green3);
    background-color: var(--green1);
    
}
.headeradmin span:last-child{
   
    color: var(--light-gray);
 
}
.headeradmin .mode_page{
  
    background-color:rgb(19, 50, 97);/*màu của nền buổi tối*/
    justify-content: flex-end;/*của buổi tối*/
}
.headeradmin .mode_page i{
   
    color: rgb(138, 151, 171);/*màu của mặt trăng*/
}
.searchadmin{
    
    background-color: var(--green1);
}
.searchadmin input{
    
    border: 1px solid var(--green2);
    background-color: var(--green2);/*tối*/
    color: var(--light-gray);/*tối*/
}
.searchadmin input::placeholder{
    color: var(--light-gray);
}

#searchCategory{
    background-color: var(--green2);
    border: 1px solid var(--green2);
    color: var(--light-gray);
}/*tối*/
#searchPriceRange span,#searchDateRange span{
    color: var(--green3);
}
.btn_reset,.btn_search{
 
    
    background-color: var(--green3);
    color: var(--light-gray);
}
#movies{
  
   background-color: var(--green1);

}
.movie h4, .movie h5{
    
    color: var(--light-gray);
}
.movie h4{
    
    color: var(--green3);
   
}
#list_page{
   
  
 
}
#list_page{
    border-top: 3px solid transparent; /* Đặt border có độ dày 10px và màu trong suốt */
    border-image: linear-gradient(to right, var(--green2), var(--green1),var(--primary_color)); /* Sử dụng gradient màu làm border image */
  border-image-slice: 1; /* Đặt chiều dài của border */
  
}
#list_page ul li{
   
    color: var(--primary_color);
    background-color: var(--green2);
    
}
.name_model{
   
    color: var(--light-gray);/*tối*/
}

.user{
    background-color: var(--light-gray);
    color: var(--green3);
}
.userheader{
    background-color: var(--green1);
    color: var(--primary_color);
    
}
.user i{
    color: var(--green3);
}
.dichvu{
    background-color: var(--green1);
}
.dichvu .mota{
    color: var(--green3);
}
.dichvu .mota h5{
    color:var(--light-gray);
}
#lichchieuphim_daytime ul{
    width: calc(100% + 360px);
}
#lichchieuphim_daytime ul{
    background-color: var(--green2);
    
}
#lichchieuphim_daytime li{
    background-color: var(--green2);
    color: var(--green1);
    border: 1.3px solid var(--green1);
}
.lichchieuphim_day{
    background-color: var(--green1);
    color: var(--green2);
}
#lichchieuphim_daytime #lichchieuphim_selected{
    background-color: var(--green2);
    color: var(--primary_color);
    border: 1.3px solid var(--primary_color);
}
#lichchieuphim_daytime #lichchieuphim_selected .lichchieuphim_day{
    background-color: var(--primary_color);
    color:  var(--green2);
}
.lichchieuphim_phim{
    background-color: var(--green1);
    border-bottom: 1px solid var(--primary_color);
}
.lichchieuphim_mota_phim .name_movie{
    color: var(--green3);
}
.lichchieuphim_mota_phim .type_movie{
    color: var(--light-gray);
}
#lichchieuphim_content{
    background-color: var(--green1);
    border: 0;
}
.lichchieuphim_lichchieu .time_start{
    color: var(--green3);
}
#lichchieuphim_content::-webkit-scrollbar{
    width: 8px;
    
}
#lichchieuphim_content::-webkit-scrollbar-thumb{
    background-color: var(--primary_color);
}
.content_history_ticket{
    background-color: var(--light-gray);
}
.history_ticket{
    background-color: var(--light-gray);
    color: var(--green3);
}
.header_history_ticket{
    background-color: var(--green1);
    color: var(--primary_color);
}
.lichchieuphim_header_btn{
    background-color: var(--green3);
}
.lichchieuphim_header_btn i{
    color: var(--light-gray);
}
#change_lichchieuphim_phim{
    background-color: var(--green2);
}