:root{
    --primary-color: #79B791;
}
.data-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.property-row {
    display: flex;
    
}

.property {
    /* border: 1px solid #ccc;  */
    padding: 2% 0 2% 0%;
    text-align: center;
    box-sizing: border-box;
}

.data-row {
    display: flex;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    width: 100%;
    
}

.data {
    width: 40%;
    text-align: center;
    padding: 1% 0% 0% 4%;
}






